
//@theme "/usr/share/rofi/themes/docu.rasi"

//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"

//@theme "/usr/share/rofi/themes/sidebar-red.rasi"

//@theme "/usr/share/rofi/themes/android_notification.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/home/cyanide/.config/rofi/materialpurple.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

@theme "/home/cyanide/.config/rofi/materialpurple.rasi"
